BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 160
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: All
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
IncludeBlocks: Regroup
SpacesInParentheses: false
